body{
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
}
.primary{
    background: #43CCE9;
}

.secondary{
    color: #073F60;
}

.a{
    color: #073F60;
}

.shadow {
    text-shadow: 2px 2px #000000;
}

.button{
    background-color: #073F60;
    text: white;
}

.photoTag{
    background-color: rgba(0, 0, 0, 0.15);
    padding: 5px 10px 5px 5px;
}

ul li a {
    color: #073F60;
}

ul li a:hover{
    font-style: italic;
}

.italic-hov:hover{
    font-style: italic;
}


.nav-style{

}

.nav-style a {
    color:#073F60;
    position:relative;
}

.nav-style a::after, .nav-style a::before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #073F60;
    position: absolute;
    left: 0;
    bottom: 12px;
    /* scale x only affects the x axis*/
    transform: scaleX(0);
    transform-origin: left center;
    transition: .5s;
}

.nav-style a::before{
    bottom: auto;
    top:12px;
    transform-origin: right center;
}

.nav-style a:hover::after, .nav-style a:hover::before {
    transform: scaleX(1);
}

.img-grow{
    transition: all .2s ease-in-out;
}

.img-grow:hover{
    transform: scale(1.05);
}

@keyframes growshrink{
    0% {transform:  scale(1);}
    50% { transform:  scale(1.5);}
    100% {transform:  scale(1);}
}
.pulse{
    animation: growshrink 1s infinite;
}